.copyright {
  color: white;
  background-color: #263a5b;
}

.footerr {
  background-color: #47799c;
  color: white;
}
.signoutbtn {
  background-color: #ef8842;
  border-color: #ef8842;
  border-radius: 25px;
}

.line {
  width: 50%;
  border-top: 1px solid white;
}

.footer-items {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
a {
  color: white;
}
.logofooter {
  width: 150px;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 15px;
}
